html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-color: beige;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title:hover{
  background-color: rgb(128, 128, 114);
  transition: 0.75s;
  
  & #myPokedex{
    color: rgb(255, 255, 255);
    transform: scale(1.025);
    transition: 0.75s;
  }

}

#title{
  font-size: 50px;
  color: rgb(51, 50, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#stat{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  background-color: white;
  border-radius: 15px;
  border: solid 2px black;
}

#search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 50px 0px; 
}

#search:hover{
  transform: scale(1.025);
  transition: 0.75s;
}

#searchbar{
  width: 50%;
  height: 50px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
}

.basestats{
  color: black;
  border: solid 2px black ;
  background-color: white;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  padding: 10px 20px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; /* Add some space between the stats */
}

.stats p {
  margin: 0;
}

