html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(76, 143, 245);
}

body{
  font-family: 'Raleway', sans-serif;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title{
  font-size: 50px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title:hover{
  background-color: rgb(255, 255, 255);
  transition: 0.75s;
  
  & #myPokedex{
    color: rgb(76, 143, 245);
    transform: scale(1.025);
    transition: 0.75s;
  }
}

h4{
  font-size: 25px;
  color: #FFFFFF;
  display: inline;
  width: 100%;
}

#stat{
  background-color: white;
  border-radius: 15px;
  border: solid 2px black;
}

/* */

#search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 50px 0px; 
}

#search:hover{
  transform: scale(1.025);
  transition: 0.75s;
}

#searchbar{
  width: 50%;
  height: 50px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

.pokemon-table tr {
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.pokemon-table th, .pokemon-table td {
  padding: 20px; 
  text-align: center;
  border: 0.5px solid #414040;
}

.pokemon-table th {
  background-color: #e3e1e1; 
}

#default-header{
  cursor:default;
}

.pokemon-table th:hover {
  cursor: pointer;
  background-color: #aca5a5;
}

#typesort-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

#typesort{
  width: 20%;
  border-radius: 15px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

#typesort:hover{
  cursor: pointer;
}

#pokemonimage{
  width: 80px;
  height: 60px;
}

#more-details-button{
  background-color:rgb(76, 143, 245);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 70px;
  height: 30px;
  border: none;
}

#more-details-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color:rgb(76, 143, 245);
  transition:0.75s;
  transform: scale(1.001);
  border: solid 1px black;
}

#footer{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(76, 143, 245);
}

h3{
  color: white;
}