body {
    font-family: 'Raleway', sans-serif;
}

/* Label with the number and the name */
#pokemon-label {
    color: rgb(76, 143, 245);
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bolder;
}

/* Popup that opens when 'More' is selected */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(76, 143, 245);
    font-weight: bold;
}

.modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content of the modal */
.modal-content {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    justify-content: center;
    text-align: center;
}

/* Paragraphs inside the modal content */
.modal-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Pokemon image */
#pokemonimagemodal {
    width: 110%;
    height: 110%;
    border: solid 3px black;
    padding: 50px;
}

/* Table with Pokemon stats */
.stats-table {
    width: 70%;
    padding-left: 150px;
    text-align: center;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}